body{
    background-color: #ffebcc;
}
table,tr,th,td{
    border: 1px solid black;
    width: 50%;
}
h2{
    font-size: 40px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: #e68a00;
}
ul{
    
    font-size: 25px;
}
td{
    text-align: center;
}
